{%
  set classes = [
    'article-card',
    'node--teaser',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {% if content.field_image %}
    <a href="{{ url }}" tabindex="-1" aria-hidden="true">
      {{ content.field_image }}
    </a>
  {% else %}
    <a href="{{ url }}" class="article-card__image-placeholder" tabindex="-1" aria-hidden="true">
      📜
    </a>
  {% endif %}

  <div class="article-card__body">
    <h3 class="article-card__title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>

    {% set raw_lead = (node.field_lead.value is not iterable ? node.field_lead.value : '')|default('')|striptags %}
    {# Skip leads that are CSS/infobox content (Wikipedia formatting artifacts). #}
    {% if raw_lead and raw_lead[:15] != '.mw-parser-outp' and raw_lead[:3] != '@me' %}
      <div class="article-card__lead">{{ raw_lead|length > 160 ? raw_lead[:160] ~ '…' : raw_lead }}</div>
    {% elseif node.body.value %}
      {% set body_text = (node.body.value is not iterable ? node.body.value : '')|default('')|striptags %}
      <div class="article-card__lead">{{ body_text|length > 160 ? body_text[:160] ~ '…' : body_text }}</div>
    {% endif %}

    <div class="article-card__meta">
      {% for topic in node.field_topics %}
        <span class="topic-badge">{{ topic.entity.name.value }}</span>
      {% endfor %}
    </div>
  </div>

</article>
